<h2 class="my-4">Projects List</h2>

<%= search_form_for @q, url: admins_path do |f| %>
  <%= f.label :id, "ID" %>
  <%= f.search_field :id_eq %>

  <%= f.label :admin_comment, "comment" %>
  <%= f.search_field  :admin_comment_cont %>


  <%= f.label :goal %>
  <%= f.number_field :goal_gteq %>Greater than〜
  <%= f.number_field :goal_lt %>Less than

  <%= f.submit "Search" %>
<% end %>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Project ID</th>
      <th scope="col">Funding Goal</th>
      <th scope="col">Campaign Duration</th>
      <th scope="col">User Name</th>
      <th scope="col"><%= sort_link(@q, :created_at, "Date") %></th>
      <th scope="col">Comment</th>
      <th scope="col">Check</th>
    </tr>
  </thead>
  <tbody>
   <% @reviewing_projects.each do |reviewing_project| %>

    <% if reviewing_project.errors.any? %>
      <% reviewing_project.full_messages.each do |message| %>
        <li> <%= message %> </li>
      <% end %>
    <% end %>

    <tr>
      <th scope="row"><%= link_to reviewing_project.id, admin_path(reviewing_project) %></th>
      <td><%= reviewing_project.goal %></td>
      <td><%= reviewing_project.duration %></td>
      <td><%= reviewing_project.user.email %></td>
      <td><%= reviewing_project.created_at %></td>
      <td>
        <%= form_with model: reviewing_project, url: add_comment_admin_path(reviewing_project) do |f| %>
          <%= f.text_area :admin_comment, :class => "form-control" %>
          <%= f.submit "Save"%>
        <% end %>
      </td>
      <td class="btn btn-success mt-1"><%= link_to "Approve", approve_admin_path(reviewing_project), method: :patch, class: "text-white" %></td>
      <td class="btn btn-danger ml-2 px-4 mt-1"><%= link_to "Reject", reject_admin_path(reviewing_project), method: :patch, class: "text-white" %></td>
    </tr>
   <% end %>
   <%= paginate @reviewing_projects %>
  </tbody>
</table>