<h1>Rewards</h1>
<%= render 'layouts/projectnav' %>

<div>
  <% if @rewards.empty? %>
    <h3>You don't have any rewards yet.</h3>
  <% else %>
    <% @rewards.each do |reward| %>
      <%= reward.title %>
      <%= reward.pledge %>
      <%= reward.description %>
      <%= reward.deliverytime %>
      <%= reward.limit %>
      <%= reward.ships %>
      <%= link_to "Edit", edit_project_reward_path(reward.project_id,reward) %>
      <%= link_to "Destroy", project_reward_path(reward.project_id,reward), method: :delete, data: {confirm: 'Are you sure?'} %>
      <br>
    <% end %>
  <% end %>
</div>

<%= link_to "Add a reward", new_project_reward_path %>
