<div class="bg-light py-5">

    <div class="container">

      <div class="row">
        <div class="col-md-4 order-md-2 mb-5">
          <h4 class="d-flex justify-content-between align-items-center">
            <h3 class="text-muted">Setting</h3>
          </h4>
          <ul class="list-group my-3">
            <li class="list-group-item d-flex justify-content-between lh-condensed py-4">
              <div>
                <h6 class="my-0">Profile</h6>
              </div>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-condensed py-4">
              <div>
                <h6 class="my-0">Payment</h6>
              </div>
            </li>
          </ul>
        </div>

        <div class="col-md-8 order-md-1">
          <h3 class="mb-4">Edit Profile</h3>
          <hr class="mb-4">
          <div class="needs-validation" novalidate>
          <%= form_with model: @user, url: user_path, method: :patch, local: true do |f| %>

            <div class="text-center mx-auto my-4" style="width: 600px;">
                <% if @user.errors.any? %>
                    <ul class="list-group">
                    <% @user.errors.full_messages.each do |message| %>
                        <li class="list-group-item list-group-item-danger "><%= icon('fas', 'exclamation-triangle', :class => "mr-2") %><%= message %> </li>
                    <% end %>
                    </ul>
                <% end %>
            </div>

            <div class="row">
              <div class="col-md-6 mb-3">
                <%= f.label :username %>
                <%= f.text_field :username, :class => "form-control", :placeholder => "Please enter your name." %>
                <div class="invalid-feedback">
                  Valid name is required.
                </div>
              </div>
            </div>

            <div class="my-4">
              <%= f.label :avatar %>
              <p>Recommnd size: Greater than 200px*200px</p>
              <div class="input-group">
                <%= f.file_field :avatar, :class => "form-control-file", id: "post_img" %>
                <%= f.hidden_field :avatar_cache %>
                <div class="mt-5">
                  <%= image_tag @user.avatar.thumb.url, class: "avatar_present_img" if @user.avatar? %>
                </div>
                <img id="avatar_img_prev" src="#" class='d-none' width="150" height="150"  />
              </div>
            </div>

           <div class="my-4">
              <%= f.label :bio %>
              <%= f.text_area :bio, :class => "form-control", :placeholder => "Hello my name is Taro. " %>
            </div>

            <div class="my-4">
              <%= f.label :location %>
              <%= f.text_field :location, :class => "form-control", :placeholder => "Tokyo, Japan" %>
            </div>

            <div class="my-4">
              <%= icon('fas', 'globe', :class => "mr-2") %><%= f.label :webiste %>
              <%= f.text_field :website, :class => "form-control", :placeholder => "http://blog.com" %>
            </div>

            <div class="my-4">
              <%= icon('fab', 'twitter-square', :class => "mr-2") %><%= f.label :twitter %> (Username)
              <%= f.text_field :twitter, :class => "form-control", :placeholder => "Twitter" %>
            </div>

            <div class="my-4">
              <%= icon('fab', 'instagram', :class => "mr-2") %><%= f.label :instagram %> (Username)
              <%= f.text_field :instagram, :class => "form-control", :placeholder => "instagram" %>
            </div>

            <hr class="my-4">
            <%= f.submit "Save", disable_with: 'Submiting...', :class => "btn btn-primary btn-lg btn-block" %>
          <% end %>
          </div>
        </div>
      </div>
    </div>
</div>