<%= render 'layouts/projectnav' %>

<div class="basic-form mt-5 container">

  <div class="text-center my-5">
    <h4 class="font-weight-bold">Basics</h4>
    <h5>Make it simple for individuals to learn about your project.</h5>
  </div>

  <%= form_with model: @project, local: true do |f| %>

  <div class="text-center mx-auto" style="width: 300px;">
    <% if @project.errors.any? %>
      <ul class="list-group">
      <% @project.errors.full_messages.each do |message| %>
        <li class="list-group-item list-group-item-danger "><%= icon('fas', 'exclamation-triangle', :class => "mr-2") %><%= message %> </li>
      <% end %>
      </ul>
    <% end %>
  </div>


  <div class="form-group row my-5">
    <div class="col-sm-2"></div>
    <div class="col-sm-2 col-form-label mr-5 project-label">
      <label class=" font-weight-bold"><%= f.label :title %></label>
      <p>Write a catchy and simple title.</p>
    </div>
    <div class="col-sm-6">
      <%= f.text_field :title, :class => "form-control", :placeholder => "Please enter your project title.", onkeyup: 'ShowLength(value)', :maxlength => '30' %>
      <div id="wordcnt" class="text-right">
        <% if @project.title.present? %>
          <%= @project.title.length %>/30
        <% else %>
          0/30
        <% end %>
      </div>
    </div>
  </div>

  <div class="form-group row mt-5">
    <div class="col-sm-2"></div>
    <div class="col-sm-2 col-form-label mr-5 project-label">
      <label class="font-weight-bold"><%= f.label :subtitle %></label>
      <p>Write a project summary in about two lines.</p>
    </div>
    <div class="col-sm-6">
      <%= f.text_area :subtitle, :class => "form-control", :placeholder => "Please enter your project's subtitle."%>
    </div>
  </div>

  <div class="form-group row mt-5">
    <div class="col-sm-2"></div>
    <div class="col-sm-2 col-form-label mr-5 project-label">
      <label class="font-weight-bold"><%= f.label :category %></label>
      <p>Please choose the category.</p>
    </div>
    <div class="col-sm-2">
      <%= f.select :category, Project.categories.keys.map {|k| [k, k]}, {},:class => "custom-select" %>
    </div>
  </div>

  <div class="form-group row mt-5">
    <div class="col-sm-2"></div>
    <div class="col-sm-2 col-form-label mr-5 project-label">
      <label class="font-weight-bold"><%= f.label :image %></label>
      <p>Add an image that attract viewer's attention.</p>
      <p>preferred image size: 1024x576 pixels (16 : 9 ratio).</p>
    </div>
    <div class="col-sm-6" onClick="$('#file').click()">
      <%= f.file_field :image, :class => "form-control-file", id: "file" %>
      <%= f.hidden_field :image_cache %>
      <div id="img_field" class="mt-5">
        <%= image_tag(@project.image.thumb.url) if @project.image? %>
      </div>
    </div>
  </div>

  <div class="form-group row mt-5">
    <div class="col-sm-2"></div>
    <div class="col-sm-2 col-form-label mr-5 project-label">
      <label class="font-weight-bold"><%= f.label :goal %></label>
      <p>Set your project goal. </p>
      <p>Note that funding is All-or-Nothing.</p>
      <p>So please make sure not to set an unachievable goal.</p>
    </div>
    <div class="col-sm-2">
      <%= f.number_field :goal, :class => "form-control", :placeholder => "300" %>
    </div>
  </div>

  <div class="form-group row mt-5">
    <div class="col-sm-2"></div>
    <div class="col-sm-2 col-form-label mr-5 project-label">
      <label class="font-weight-bold"><%= f.label :duration %></label>
      <p>Set a time limit.</p>
      <p>Projects with a duration of 65 days or less have a higher success rate.</p>
    </div>
    <div class="col-sm-3">
      <%= f.date_field :duration, :class => "custom-select" %>
    </div>
  </div>

  <div class="form-group row mt-5 mb-5">
    <div class="col-sm-2"></div>
    <div class="col-sm-2 col-form-label mr-5 project-label">
      <label class="font-weight-bold"><%= f.label :location %></label>
      <p>Choose your location of project.</p>
    </div>
    <div class="col-sm-2">
      <%= f.select :location, Project.locations.keys.map {|k| [k, k]}, {}, :class => "custom-select" %>
    </div>
  </div>

  <div class="fixed-bottom text-center border-top bg-light py-2">
    <%= link_to "Preview", preview_project_path(@project), :class => "btn btn-success btn-lg px-4 mr-5" %>
    <%= f.submit "Save", disable_with: 'Submiting...', :class => "btn btn-info btn-lg px-5 " %>
  </div>

  <% end %>
</div>

<script>
  BorderDevice();
  window.onresize = function() {
    BorderDevice();
  }
</script>