<%= link_to "Start a project", new_project_path %>

<div>
    <% @projects.each do |project| %>
      <%= project.id %>
      <%= project.title %>
      <%= project.goal %>
      <%= project.duration %>
      <br>
    <% end %>
</div>