
<%= render 'layouts/projectnav' %>

<div class="container">
  <% if @project.errors.any? %>
    <% @project.errors.full_messages.each do |message| %>
      <li> <%= message %> </li>
    <% end %>
  <% end %>

  <%= form_with model: @project, url: story_path, local: true do |f| %>
    <div class="form-group row my-5">
      <div class="col-12 col-md-6 col-form-label mr-5 mb-2">
        <label class="font-weight-bold"><%= f.label :story %></label>
        <p>
          Describe what you're raising funds to do, why you care about it, how you plan to make it happen, and who you are. 
          Your description should tell backers everything they need to know.
          If possible, include images to show them what your project is all about and what rewards look like.</p>
      </div>
      <div class="col-12">
        <%= f.text_area :story, :class => "form-control", 'data-provider': :summernote %>
      </div>
    </div>

    <div class="fixed-bottom text-center border-top bg-light py-2">
      <%= link_to "Preview", preview_project_path(@project), :class => "btn btn-success btn-lg px-4 mr-5" %>
      <%= f.submit "Save", disable_with: 'Submiting...', :class => "btn btn-info btn-lg px-5 " %>
    </div>

  <% end %>

</div>

<script>
  $(document).on("turbolinks:before-cache", function() {
    location.reload();
  })
</script>