<h1>Story</h1>
<%= form_with model: @project, local: true do |f| %>
  <div class="select-mode">
    <ol>
      <li><%= link_to "Basics", edit_project_path(@project) %></li>
      <li><%= link_to "Rewards", project_rewards_path(@project) %></li>
      <li><%= link_to "Story", edit_story_path(@project) %></li>
    </ol>
  <div>
  <% if @project.errors.any? %>
    <% @project.errors.full_messages.each do |message| %>
      <li> <%= message %> </li>
    <% end %>
  <% end %>

  <div class="field">
    <%= f.label :story %>
    <%= f.text_area :story, 'data-provider': :summernote %>
  </div>

  <div class="actions">
    <%= f.submit "Save", disable_with: 'Submiting...' %>
  </div>

<% end %>