<h1>Story</h1>
<%= form_with model: @project, url: story_path, local: true do |f| %>
  <%= render 'layouts/projectnav' %>
  <% if @project.errors.any? %>
    <% @project.errors.full_messages.each do |message| %>
      <li> <%= message %> </li>
    <% end %>
  <% end %>

  <div class="field">
    <%= f.label :story %>
    <%= f.text_area :story, 'data-provider': :summernote %>
  </div>

  <div class="actions">
    <%= f.submit "Save", disable_with: 'Submiting...' %>
  </div>

<% end %>