
<div id = "request">
  <% unless @project.reviewing? %>
    <%= form_with model: @project, url: submit_project_path(@project) do |f| %>
      <%= f.submit 'Submit your project.', data: { confirm: 'Are you sure?', disable_with: 'Submitting...'} %>
    <% end %>

    <%= link_to "Preview", preview_project_path(@project) %>
  <% end %>
</div>

<div class="select-mode">
  <ul class="nav justify-content-center nav-pills border-bottom border-top py-4">
    <li class="nav-item mx-5">
      <%= link_to "Basics", edit_project_path(@project), :class => "nav-link #{ params[:controller] == 'projects' ? 'active' : '' }" %>
    </li>
    <li class="nav-item mx-5">
      <%= link_to "Rewards", project_rewards_path(@project), :class => "nav-link #{ params[:controller] == 'rewards' ? 'active' : '' }" %>
    </li>
    <li class="nav-item mx-5">
      <%= link_to "Story", edit_story_path(@project), :class => "nav-link #{ params[:controller] == 'stories' ? 'active' : '' }" %>
    </li>
    <li class="nav-item mx-5">
      <a class="nav-link disabled" href="#">Payment</a>
    </li>
  </ul>
<div>
