
  <div id = "request" class=" my-4 container">
    <% unless @project.reviewing? %>
      <div class="text-center">
        <%= form_with model: @project, url: submit_project_path(@project) do |f| %>
          <%= f.button :type => "submit", data: { confirm: 'Are you sure?', disable_with: 'Submitting...'}, :class => "btn-custom green rounded" do %>
            <%= icon('fas', 'paper-plane', :class => "mr-2") %>Submit your project.
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>


<div class="select-mode">
  <ul class="nav justify-content-center nav-pills border-bottom border-top py-4">
    <li class="nav-item mx-5">
      <%= link_to "Basics", edit_project_path(@project), :class => "nav-link #{ params[:controller] == 'projects' ? 'active' : '' }" %>
    </li>
    <li class="nav-item mx-5">
      <%= link_to "Rewards", project_rewards_path(@project), :class => "nav-link #{ params[:controller] == 'rewards' ? 'active' : '' }" %>
    </li>
    <li class="nav-item mx-5">
      <%= link_to "Story", edit_story_path(@project), :class => "nav-link #{ params[:controller] == 'stories' ? 'active' : '' }" %>
    </li>
    <li class="nav-item mx-5">
      <a class="nav-link disabled" href="#">Payment</a>
    </li>
  </ul>
<div>
