<div class="select-mode">
  <ol>
    <li><%= link_to "Basics", edit_project_path(@project) %></li>
    <li><%= link_to "Rewards", project_rewards_path(@project) %></li>
    <li><%= link_to "Story", edit_story_path(@project) %></li>
  </ol>
<div>

<div id = "request">
  <% unless @project.reviewing? %>
    <%= form_with model: @project, url: submit_project_path(@project) do |f| %>
      <%= f.submit 'Submit your project.', data: { confirm: 'Are you sure?', disable_with: 'Submitting...'} %>
    <% end %>
  <% end %>
</div>