    <div class="bg-light border-top border-bottom">
        <div class="top-heading pb-3 mb-4 container">
            <h1 class="text-center pb-2 mt-5 font-weight-bold"><%= @project.title %></h1>
            <h4 class="text-center text-secondary pb-2"><%= @project.subtitle %></h4>
            <div class="row mt-5">
                <div class="col-lg-8 col-12 mb-2">
                    <% if @project.image? %>
                      <%= image_tag @project.image.url, alt: 'project image', :class => "img-fluid" %>
                    <% else %>
                      <img class="img-fluid" src="/assets/noimage.png" alt="project image">
                    <% end %>

                    <div class="mt-2">
                        <div class="d-inline-block pr-2"><%= icon('fas', 'user', :class => "mr-2") %><%= link_to @project.user.username, user_path(@project.user) %></div>
                        <div class="d-inline-block p-2"><%= icon('fas', 'map-marker-alt', class: 'mr-2') %><%= @project.location %></div>
                        <div class="d-inline-block p-2"><%= icon('fas', 'location-arrow', class: 'mr-2') %><%= link_to @project.category, projects_path(category: @project.category) %></div>
                    </div>
                </div>

                <div class="col-lg-4 col-12">
                  <div class="pl-4">
                    <div class="price-display">
                        <h3 class="pt-4">US$ 0</h3>
                        <p>pledged of US$ <%= @project.goal %> goal</p>
                    </div>

                    <div class="backers mt-3">
                        <h3>0</h3> backers
                    </div>

                    <div class="mt-3">
                        <h3><%= @project.date_diff %></h3> days to go
                    </div>
                  </div>
                    <div class="back-button mt-5">
                        <a href="#" class="btn btn-primary btn-lg btn-block">Back this project</a>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="description container mt-5">
        <div class="row">
            <div class="story pl-3 col-md-8 col-xs-12 mb-4">
              <h3 class="mb-5">About</h3>
              <div class="summer" id="foo">
                <% unless @project.story.nil? %>
                  <%= @project.story.html_safe %>
                <% end %>
              </div>
            </div>

            <div class="reward col-md-4 col-xs-12">
              <div class="card text-center my-5 user-card">
                <div class="user-card-img">
                  <%= link_to user_path(@project.user) do %>
                    <% if @project.user.avatar? %>
                      <%= image_tag @project.user.avatar.thumb.url, alt: 'user avatar', :class => "img-fluid rounded-circle" %>
                    <% else %>
                      <img class="img-fluid rounded-circle" src="/assets/noavatar.png" alt="user image" width="80" height="80">
                    <% end %>
                  <% end %>
                </div>
                <div class="card-body pt-5">
                  <h5 class="card-title pt-3"><%= @project.user.username %></h5>
                  <p class="card-text"><%= @project.user.bio %></p>
                  <%= link_to "Go his profile",user_path(@project.user), :class => "btn btn-primary" %>
                </div>
              </div>

              <h3 class="mb-5">Rewards</h3>
              <% @project.rewards.each do |reward| %>
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">Pledge $<%= reward.pledge %> or more</h5>
                        <div class="card-text">
                          <h6><%= reward.title %></h6>
                          <p class="text-secondary"><%= simple_format(h(reward.description)) %></p>
                          <% if reward.limit != 0 %>
                          <div class="limit">
                            <p class="text-secondary mb-0">LIMITED:</p>
                            <p><%= reward.limit %></p>
                          </div>
                          <% end %>
                          <div class="delivery-time">
                            <p class="text-secondary mb-0">ESTIMATED DERIVERY:</p>
                            <p><%= reward.deliverytime %></p>
                          </div>
                          <div class="ship-time">
                            <p class="text-secondary mb-0">SHIPS TO:</p>
                            <p><%= reward.ships %></p>
                          </div>
                        </div>
                        <a href="#" class="btn btn-primary">Select this reward</a>
                    </div>
                </div>
              <% end %>
            </div>
        </div>
    </div>


<script>
  var elems = document.getElementById('foo');
  var imgElems = elems.getElementsByTagName('img');
  for(let i = 0; i < imgElems.length; i++){
      imgElems.item(i).classList.add('img-fluid');
  }
  var videoElems = elems.getElementsByTagName('iframe');
  for(let i = 0; i < videoElems.length; i++){
      videoElems.item(i).parentElement.classList.add('embed-responsive', 'embed-responsive-16by9');
  }
</script>
